<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\user\OneDrive - Asia Pacific University\APU\degree mmt year 1\sem2\IOOP\assignment\APU Sports Club Management System\APU Sports Club Management System\myDB.mdf";Integrated Security=True'
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>